<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookss</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bookss.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<style>
    body {
        background-color: #0f172a;
    }
</style>

<body class="">
    <header>
        <nav id="navbar" class="fixed top-0 left-0 w-full z-50 
            transition-all duration-300 ease-in-out 
            bg-transparent p-2">
            <div class="mx-auto max-w-7xl px-4 ">
                <div class="flex h-16 justify-between">
                    <div class="flex">
                        <div class="flex shrink-0 items-center">
                            <a class="text-xl font-bold text-white hover:text-gray-900! hover:bg-cyan-500 transition-colors no-underline!"
                                asp-area="" asp-controller="Home" asp-action="Index">Bookss</a>
                        </div>
                        <div class="hidden sm:ml-6 sm:flex sm:space-x-8 items-center">
                            <a class="text-xl font-medium text-white hover:text-gray-900! hover:bg-cyan-500 transition-colors p-1 no-underline!"
                                asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <a class="text-xl font-medium text-white hover:text-gray-900! hover:bg-cyan-500 transition-colors p-1 no-underline!"
                                asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            @if(User.Identity.IsAuthenticated){
                            <a class="text-xl font-medium text-white hover:text-gray-900! hover:bg-cyan-500 transition-colors p-1 no-underline!"
                                asp-area="" asp-controller="FavoriteBooks" asp-action="Index">Favorite Books</a>
                            }
                            <a class="text-xl font-medium text-white hover:text-gray-900! hover:bg-cyan-500 transition-colors p-1 no-underline!"
                                asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                            <a class="text-xl font-medium text-white hover:text-gray-900! hover:bg-cyan-500 transition-colors p-1 no-underline!"
                                asp-area="" asp-controller="Genres" asp-action="Index">Genres</a>

                        </div>
                    </div>
                    <div class="hidden sm:ml-6 sm:flex sm:items-center">
                        <partial name="_LoginPartial" />
                    </div>
                    <div class="-mr-2 flex items-center sm:hidden">
                        <!-- Mobile menu button -->
                        <button type="button"
                            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                            aria-controls="mobile-menu" aria-expanded="false">
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Open main menu</span>
                            <!-- Icon when menu is closed. -->
                            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="sm:hidden" id="mobile-menu">
                <div class="space-y-1 pb-3 pt-2">
                    <a class="text-gray-900 hover:bg-white hover:text-gray-50" asp-area="" asp-controller="Home"
                        asp-action="Index">Home</a>
                    <a class="text-gray-900 hover:bg-white hover:text-gray-50" asp-area="" asp-controller="Home"
                        asp-action="Privacy">Privacy</a>
                </div>
                <div class="text-gray-900 hover:bg-white hover:text-gray-50">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="min-h-screen">
        <main role="main" class="pt-24 pb-8">
            @RenderBody()
        </main>
    </div>

    <footer class="border-t border-white/10 footer text-gray-400 bg-stone-950">
        <div class="container text-center py-4">
            &copy; 2026 - Bookss - <a class="text-gray-900 hover:bg-white hover:text-gray-50" asp-area=""
                asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    const navbar = document.getElementById("navbar");

    window.addEventListener("scroll", function () {
        if (window.scrollY > 10) {
            navbar.classList.add(
                "backdrop-blur-xl",
                "bg-slate-950/90",
                "border-b",
                "border-white/10",
                "shadow-2xl"
            );
            navbar.classList.remove("bg-transparent", "border-transparent");
        } else {
            navbar.classList.remove(
                "backdrop-blur-xl",
                "border-b",
                "border-white/10",
                "shadow-2xl"
            );
            navbar.classList.add("bg-transparent", "border-transparent");
        }
    });
</script>

</html>

