@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Homeww</h1>
    <div class="flex justify-center items-center grid-cols-2">
      <div class="flex flex-col">
        <h4>Welcome to Bookss</h4>
        <p>Here you can find all the books you need.</p>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-col">
          <img src="./book1.jpg">
        </div>
        <div class="flex flex-col">
          <img src="./book.jpg">
        </div>
      </div>
    </div>
</div>