@{
  ViewData["Title"] = "Home Page";
}
<div class="h-auto w-auto bg-linear-to-r from-cyan-300 to-purple-800">
 <div>
  <h1>Homeww</h1>
  <div class="grid grid-cols-3 grid-rows-3 ">
    <img src="/images/littlen.jpg" class="w-2 h-2 row-span-2 col-span-2" />
  <img src="/images/book.jpg" class="w-2 h-2 rows-span-1 col-span-1" />
  <img src="images/book1.jpg" class="w-2 h-2 rows-span-1 col-span-1" />
  </div>
  </div>
 </div>
</div>